__pycache__/
*.pyc
*.pyo
construction/generated/
verify/_build/
article/*.aux
article/*.bbl
article/*.bcf
article/*.blg
article/*.fdb_latexmk
article/*.fls
article/*.log
article/*.out
article/*.run.xml
article/*.toc
*.zip
*.tar
*.tar.gz
.DS_Store
